.loaderContainer{
    display: flex;
    justify-content: center;
    padding: 4%;
}

.loader{
    background-image:url("../images/L8.gif");
    background-position:center;
    background-repeat: no-repeat;
    height: 350px;
    width: 350px;
    font-size: 25px;
    border-radius: 200px;
    
}

.loader p{
    padding-top: 0px;
}