.back{
    margin-top: 115px;
}

.pag{
    height: 35px;
    background-color: rgb(189, 82, 82);;
}



.nav{
    position: fixed;
    width: 100%;
    margin-top: 0%;
    top: 0;
}

.grid{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, 330px);
    padding: 5px;
    justify-content: center;
    
}

.contnotFound{
    display: flex;
    justify-content: center;
    padding: 5%;
}

.noFound{
    background-image:url("../images/L2.gif");
    background-position:center;
    background-repeat: no-repeat;
    height: 350px;
    width: 480px;
}

.noFound p{
    padding: 0%;
    margin: 0%;
    font-size: 20px;
}

.cards{
    font-size: 1rem;
    text-align: left;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    margin: 12px;
    border-radius: 20px;
    background-image: url("../images/dex2.png");
    background-size: 300px 380px;
    background-repeat: no-repeat;
    height: 370px;
    transition: 0.4s;
    cursor: pointer;
}

.cards:hover{
    transform: scale(1.1);
    box-shadow: 0 5px 20px rgba(245, 57, 0, 0.582);
}

.cards img{
    margin-top: 4%;
    margin-left: 45px;
}

.cards h3{
    margin-top: 98px;
    margin-left: 18px;
    font-size: 23px;
}

.cards p{
    margin-top: 14%;
    text-align: center;
}

.pagfoot{
    height: 34px;
    padding-top: 5px;
    align-items: center;
    width: 100%;
    background-color: rgb(189, 82, 82);
    position: fixed;
    bottom: 0%;
    border-width: 1px;
    border-style: solid;
}