.currentPageButton{
    background-color: rgb(245, 223, 28);
    cursor: pointer;
    border-radius: 15px;
    height: 30px;
    width: 30px;
    border-width: 1px;
}

.buttonPage{
    cursor: pointer;
    border-radius: 15px;
    height: 30px;
    width: 30px;
    border-width: 1px;  
}